<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">To-Do List</h1>
              <p class="lead">This is a to-do list program to add and remove list items</p>
            </div>
        </div>

        <div class="mb-3">
            <label for="listItemName" class="form-label">
                <h6>Task Name:</h6>
            </label>
            <input class="form-control" id="listItemName" placeholder="Brew tea">
        </div>
        <div class="mb-3">
            <label for="listItemDescription" class="form-label">
                <h6>Task Description:</h6>
            </label>
            <textarea class="form-control" id="listItemDescription" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <label for="listItemDate" class="form-label">
                <h6>Complete By:</h6>
            </label>
            <input class="form-control" type="datetime-local" id="listItemDate">
        </div>
        <button type="button" class="btn btn-info" id="addItemBtn">Add Item</button>
        <br>
        <br>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
              <span class="navbar-brand mb-0 h1">To do:</span>
            </div>
        </nav>
        <div class="list-group">
            <% for(let i = 0; i < listItems.length; i++) { %>
                <% let listItem = listItems[i].toDisplay(); %>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><%= listItem.name %></h5>
                    </div>
                    <p class="mb-1"><%= listItem.description %></p>
                    <small><%= listItem.date %></small>
                </a>
                <small>
                    <button type="button" class="btn btn-danger" id="addItemBtn<%= i %>" onclick="deleteListItem(<%= i %>)">Delete Item</button>
                </small>
            <% } %>
          </div>
        <script>
            // Function for button to send DELETE request to server
            function deleteListItem(index) {
                let itemToDelete = {
                    itemID: index
                };

                let http = new XMLHttpRequest();
                http.open("DELETE", "http://localhost:8000/item");
                http.setRequestHeader("Content-Type", "application/json");
                http.send(JSON.stringify(itemToDelete));

                // Refresh the page for changes to take effect
                location.reload(true);
            }


            // Script for completing POST request (in Add Item button)
            let addItemButton = document.getElementById("addItemBtn");
            addItemButton.addEventListener("click", function(event) {
                // Get item data
                let itemData = {
                    name: document.getElementById("listItemName").value,
                    description: document.getElementById("listItemDescription").value,
                    date: document.getElementById("listItemDate").value
                }

                // Send HTTP POST request on button click
                let http = new XMLHttpRequest();
                http.open("POST", "http://localhost:8000/item");
                http.setRequestHeader("Content-Type", "application/json");
                http.send(JSON.stringify(itemData));

                // Refresh the page for changes to take effect
                location.reload(true);
            });
        </script>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
